body {
    margin-top: 1.0em;
    background-color: #D9EDF3;
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    color: #000000;
}
#container {
    margin: 0 auto;
    width: 700px;
}
h1 {
    font-size: 3.8em;
    color: #5F696B;
    margin-bottom: 3px;
}
h2 {
    font-size: 1.5em;
    color: #4d2f35;
}
h3 {
    text-align: center;
    color: #4d2f35;
}
a {
    color: #4d2f35;
}
.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}
.download {
    float: right;
}
pre {
    background: #444;
    color: #fff;
    padding: 15px;
}
hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa;
}
.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}
